scrapyenv
venv
//*.pyc
/lib/
/.project
/.pydevproject
/.Python
.idea/
/extractors/data/
*.pyc
extractors/utils/resources/common_params-local.json
extractors/*/*/training_data/
extractors/*/*/results/
extractors/*/*/model/
extractors/*/*/raw_data/
extractors/supervised_extractors/*/tmp_logs/
extractors/supervised_extractors/*/config/params-local.json
extractors/supervised_extractors/*/cloud.html
extractors/sequence_labeling_extractors/*/config/params-local.json
extractors/sequence_labeling_extractors/*/resources/unnormalized.txt
extractors/peng_local_utils/
extractors/utils/*.txt
extractors/utils/*.csv